.tooltip-container {
    position: relative;
    display: inline-block;
   margin-left: 1150px;

}

.tooltip-trigger {
    padding: 10px 20px;
    background-color: #09850fab;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.tooltip-content {
    position: absolute;
    background-color: #444855;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1;
}

.tooltip-content a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
}

.tooltip-container:hover .tooltip-content {
    opacity: 1;
    visibility: visible;
}
